<%- include("partials/header"); -%>

<h1>Contact</h1>

<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus deleniti
  reprehenderit ullam neque qui. Distinctio eum, ex architecto quidem dicta
  temporibus nesciunt non voluptates possimus rerum, modi sapiente! Praesentium
  eveniet repudiandae obcaecati vitae facilis rerum cum recusandae quia nemo non
  exercitationem maxime temporibus magnam, quae rem consequuntur reprehenderit,
  similique pariatur!
</p>

<%- include("partials/footer"); -%>
