<%- include('header'); -%>

<h2>This is the about page</h2>

<p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum, numquam!
  Quia asperiores pariatur nisi voluptatum enim architecto obcaecati ipsam
  tempora dolore! Expedita molestiae unde veniam voluptas totam natus, aliquid
  nostrum officia doloremque, eligendi dolorem optio laboriosam reiciendis
  incidunt! Eius illum iusto voluptates non quae voluptatem corrupti quisquam
  consequatur dolores eaque cumque facilis ipsam modi facere quas obcaecati
  cupiditate beatae officiis repellat sed, labore voluptas. Quis eius molestias
  modi, enim aspernatur dignissimos neque eveniet laborum eos error
  exercitationem nostrum esse fugit assumenda consequatur qui eligendi.
  Repellendus doloremque sed perferendis, optio labore, eligendi illo odit
  aperiam aspernatur, aut deleniti ab eos nemo.
</p>

<%- include('footer'); -%>
